<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>IQ</h4>
  <h3>
    <%= @iq %>
  </h3>
  <h4>GPA</h4>
  <h3>
    <%= @gpa %>
  </h3>
</div>
